h1 {
    color: #691500;
}

h2{
    color: #a84a32;
    text-align: center;
}

h4 {
    color: #079c62c2;
}

/*About Page style*/

.content * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    background: green;
    justify-content: center;
    align-content: center;
}

.wrapper * {
    display: flex;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    height: 300px;
}

/*Philosophy Page style*/

.philosophy{
    margin-left: 100px;
    margin-right: 100px;
    padding: none;
    border: none;
}

.philosophy-p1::first-letter {
font-size: 150%;
}

.philosophy-p2 {
    text-indent: 50px; 
}
