h1 {
    color: #691500;
}

h2{
    color: #a84a32;
    text-align: center;
}

h4 {
    color: #079c62c2;
}

/*About Page style*/

.content * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
   background: blue;
}

.image {
    background: green;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

/*Philosophy Page style*/

.philosophy{
    margin-left: 100px;
    margin-right: 100px;
    padding: none;
    border: none;
}

.philosophy-p1::first-letter {
font-size: 150%;
}

.philosophy-p2 {
    text-indent: 50px; 
}
